
      * {
        margin: 0px;
        padding: 0px;
      }
      body {
        background-color: rgb(59 228 228);
        color: white;
      }
      nav {
        background-color: rgb(7 140 140);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
      }
      nav ul {
        display: flex;
        justify-content: center;
      }
      nav ul li {
        list-style: none;
        margin: 0px 58px;
      }
      nav ul li a {
        text-decoration: none;
        color: white;
      }
      nav ul li a:hover {
        text-decoration: none;
        color: rgb(89, 199, 199);
        font-size: 1.02rem;
      }
      .left {
        font-size: 1.6rem;
        position: relative;
        right: 80px;
      }
      .firstsection {
        display: flex;
        justify-content: space-around;
        /* border: 2px solid #211f1f; */
        margin: 85px 0px;
      }
      .firstsection > div {
        width: 35%;
      }
      .leftsection {
        font-size: 3rem;
      }
      .leftsection .btn {
        padding: 12px;
        background-color: rgb(45 167 167);
        border: 1px solid white;
        border-radius: 1rem;
      }
      .leftsection .btn:hover {
        padding: 13px;
        background-color: rgb(31, 123, 123);
        border: 1px solid white;
        border-radius: 1rem;
      }

      .rightsection img {
        width: 72%;
      }
      .name-color {
        color: rgb(16 117 117);
      }
      #element {
        color: rgb(16 117 117);
      }
      .secondsection {
        max-width: 89vw;
        margin: auto;
        position: relative;
        top: 26px;
        height: 80vh;
      }
      .secondsection h1 {
        font-size: 2.5rem;
      }

      main hr {
        border: 0;
        border-radius: 18px;
        background: rgb(18 173 173);
        height: 0.35rem;
        margin: 4px 76px;
      }
      .text-gray {
        color: gray;
      }
      .secondsection .horizontal-line {
        margin: 56px 0px;
        background: white;
        width: 85vw;
        height: 4px;
        display: flex;
      }
      .secondsection .vertical-line {
        height: 88px;
        width: 4px;
        background-color: white;
        margin: 0vw 6vw;
      }
      .image-top {
        width: 42px;
        height: 36px;
        position: relative;
        background: white;
        border-radius: 100%;
        top: -41px;
        left: -20px;
      }
      .vertical-line-title {
        position: relative;
        top: 53px;
        left: 0px;
        font-size: 25px;
      }
      .vertical-line-desc {
        position: relative;
        top: 58px;
        width: 190px;
        font-size: 13px;
        left: 0px;
      }
      footer {
        background-color: rgb(9 73 73);
        height: 12vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .footer {
        display: flex;
        background-color: rgb(9 73 73);
        justify-content: space-evenly;
        font-size: 20px;
      }
      .footer ul {
        list-style: none;
      }
      .disclamer {
        display: flex;
        justify-content: center;
        color: gray;
        font-size: 20px;
        background-color: rgb(9 73 73);
      }
      @media screen and (max-width: 1400px) {
        body {
          min-width: fit-content;
        }
        .firstsection {
          display: flex;
          justify-content: center;
          /* border: 2px solid #211f1f; */
          margin: 85px 0px;
          flex-direction: column-reverse;
          align-items: center;
        }

        .secondsection .horizontal-line {
          margin: 56px 0px;
          background: white;
          width: 60vw;
          height: 4px;
          display: flex;
          flex-direction: column;
        }
        .image-top {
          width: 42px;
          height: 37px;
          position: relative;
          background: white;
          border-radius: 100%;
          top: 64px;
          left: -20px;
        }
        .vertical-line-title {
          position: relative;
          top: 27px;
          left: 28px;
          font-size: 25px;
        }
        .vertical-line-desc {
          position: relative;
          top: 25px;
          width: 195px;
          font-size: 13px;
          left: 28px;
        }
        nav {
          background-color: rgb(7 140 140);
          display: flex;
          justify-content: space-around;
          height: 60px;
          flex-wrap: wrap;
        }

        .left {
          font-size: 1.6rem;
          position: relative;
          right: 1px;
        }
        .leftsection {
          display: flex;
          font-size: 2rem;
          width: 100% !important;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          align-items: center;
        }
        .rightsection {
          width: 72% !important;
        }
        .rightsection img {
          width: 95%;
        }
        .secondsection {
          display: flex;
          max-width: 60vw;
          margin: auto;
          position: relative;
          top: 0px;
          height: 125vh;
          align-content: center;
          /* justify-content: center; */
          align-items: flex-start;
          flex-direction: column;
        }
        .footer {
          display: flex;
          background-color: rgb(9 73 73);
          justify-content: space-evenly;
          font-size: 20px;
          width: 100%;
        }
        .disclamer {
          display: flex;
          justify-content: center;
          color: gray;
          font-size: 20px;
          background-color: rgb(9 73 73);
          width: 100%;
        }
        footer {
          display: flex;
          background-color: rgb(9 73 73);
          height: 12vw;
          width: 100%;
          align-items: center;
          flex-direction: column;
          justify-content: space-evenly;
        }
      }
    
